@media(max-width: 568px) {
   
    .header__nav,
    .header__button {
        display: none;
    }
  
    .header__menu-btn {
        display: block;
        margin-right: 30px;
    }

    .header__img{
        width: 50px;
        height: 50px;
        margin-left: 25px;
    }

    .hero{
        padding: 50px 0;
    }

    .hero__title{
        font-size: 25px;
    }

    .hero__subtitle{
        font-size: 13px;
    }

    .about{
        padding: 30px 0;
    }

    .about__title{
        font-size: 25px;
        margin-left: 45px;
        text-align: center;
        width: 200px;
        margin-bottom: 0;
    }

    .about__article-preview{
        font-size: 13px;
        margin-left: 27px;
    }
   
    .about__link{
        font-size: 13px; 
        margin-left: 27px;
    }

    .about__arrow{
        width: 10px;
        height: 14px;
    }

    .about__img{
        width: 240px;
        height: 240px;
        margin-left: 25px;
        margin-top: 25px;
    }

    .offers__title{
        font-size: 25px;
        margin-left: 80px;
        width: 150px;
    }

    .offers__text{
        font-size: 13px;
        text-align: center;
    } 

    .offers__content{
        margin-right: 0;
    }

    .offers{
        padding: 10px 0;
    }
    
    .offers__item{
        font-size: 19px;
    }

    .showcase{
        display: block;
        margin: 0px auto;
    }

    .showcase__title{
        font-size: 15px;
        margin-left: 35px;
        margin-bottom: 5px;
    }

    .showcase__text{
        font-size: 11px;
        text-align: center;
        margin-bottom: 10px;
    }

    .showcase__img{
        width: 80px;
        height: 80px;
    }

    .section__title{
        font-size: 25px;
        line-height: 35px;
        margin-top: 30px;
    }

    .section__main{
        display: block;
        margin-top: 20px;
    }

    .section__card{
        width: 290px;
        padding: 10px;
        box-shadow: 0px 0px 20px rgba(57, 40, 166, 0.15);
    }

    .section__text{
        font-size: 14px;
        text-align: center;
    }

    .section__name{
        font-size: 12px;
    }

    .section__work{
        font-size: 9px;
    }

    .footer__img{
        width: 30.67px;
        height: 66px;
        padding-bottom: 15px;
    }

    .box{
        padding-left: 10px;
    }

    .box__title{
        font-size: 9px;
        margin-left: auto;
        margin-right: 10px;
        text-align: right;
    }

    .box__socials{
        width: 90px;
        margin-left: auto;
        margin-right: 12px;
    }

    .box__icon{
        width: 11px;
        height: 18px;
    }

    .box__label{
        font-size: 9px;
        margin: 0;
    }

}


@media(max-width:1024px) and (min-width:768px) {

    
}

